<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExamManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ExamManager.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="EmailDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="TimelineDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeepSubject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepExamroom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepPreparationroom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTeacher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepGrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepStudent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameOrderStudent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameOrderTeacher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExamPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTP_server" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_port" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_email" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_password" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_email_name" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_email_title" serializeAs="String">
                <value />
            </setting>
            <setting name="EntitiesPerPage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PixelPerHour" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TLStartTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TLLength" serializeAs="String">
                <value>12</value>
            </setting>
        </ExamManager.Properties.Settings>
    </userSettings>
</configuration>